# all ignore
/*
/.**

# git
!/.gitattributes
!/.gitignore
!/.gitmodules

# project file
!/README.md
!/LICENSE

# install script
!/install.sh
!/Brewfile

# allowlist
!/bash
!/git
!/karabiner
!/mise
!/npm
!/zsh
!/iterm2
!/ssh
